//- Generates a row
mixin row
    .columns
        if block
            block

//- Generates a column
mixin column(column, small, extraClasses = '')
    div(class=`column col-${column} col-md-${small} ${extraClasses}`)
        if block
            block

//- Generates a box
mixin box(size, label, contentWrapper, extraClasses = '')
    div(class=`box rounded box-${size} ${extraClasses}`)
        .box-inner-wrapper.flex.text-center
            section
                .box-content
                    .box-content-value
                        div(class='data-wrapper' id=`${contentWrapper}-wrapper`)
                            if block
                                block
            if label
                footer.text-uppercase
                    label= label

//- Outputs data from the API
mixin output(id, value, label, advanced = false)
    if block
        span(id=id)
            block
    else
        if label
            span(id=id)
                if advanced
                    label
                        | #{label} :
                    span= value
                else
                    span= value
                    label= label
        else
            span(id=id)= value

//- Generates an unordered list
mixin list(id = '', extraClasses = '', output, ...listItems)
    ul(id=id class=extraClasses)
        each item in listItems
            if output
                li.text-ellipsis
                    +output(item)
            else
                li= item

//- Mixin for generating an icon element
mixin icon(icon)
    span.icon
        i(class=`fa fa-${icon}`)