extends layout

block content

    +row
        +column('five')
            +box('lg', 'server', 'server uptime', 'uptime')
                +output('uptime-days', initialData.serverUptime.uptimeDays, 'days')
                +output('uptime-hours', initialData.serverUptime.uptimeHours, 'hours')
                +output('uptime-minutes', initialData.serverUptime.uptimeMinutes, 'minutes')
        +column('seven')
            +row
                +column('six')
                    +box('sm', 'calendar', 'date on server', 'current-date')
                        +output('current-date', initialData.currentDate)
                +column('six')
                    +box('sm', 'calendar', 'server is active since', 'active-date')
                        +output('active-date', initialData.activeDate)
            +row
                +column('six')
                    +box('sm', 'clock-o', 'time on server', 'time')
                        +output('current-hours', initialData.serverTime.currentHour)
                        span.blink :
                        +output('current-minutes', initialData.serverTime.currentMinutes)
                        +output('current-period', initialData.serverTime.currentPeriod)
                +column('six')
                    +box('sm', 'map-marker', 'server location', 'location')
                        +output('current-location')
                            a(href=`https://www.google.com/maps/place/${initialData.serverLocation.latitude},${ initialData.serverLocation.longitude}` target='_blank')
                                | #{initialData.serverLocation.city}, #{initialData.serverLocation.region_name}, #{initialData.serverLocation.country_name}
    +row
        +column('twelve')
            +box('lg', 'server', 'advanced info', 'advanced')
                +row
                    +column('seven')
                        +output('server-hostname')
                        +output('server-type')
                        +output('platform-release')
                        +output('server-cpu')
                        +output('server-arch')
                        +output('server-total-mem')
                    +column('five')
                        +output('server-local-ip')
                        +output('server-public-ip')